body {
  font-size: 17px;
}

.logo-pad {
  padding-top: 2px;
}

.site-name {
  /* font-variant: small-caps; */
  font-size: 36px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-size: 48px;
  color: #c7254e;
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    padding-top: 1em;
    margin-top: 3em;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #eee;
}