// imports
@import "bootstrap/less/bootstrap.less";
@import "bootstrap/less/navbar.less";
@import "bootstrap/less/tables.less";
@import "bootstrap/less/grid.less";
@import "bootstrap/less/code.less";
@import "font-awesome/less/font-awesome.less";
/*
@import (inline) "highlight-js/solarized_light.css";
@import (inline) "highlight-js/default.css";
@import (inline) "highlight-js/solarized_dark.css";
*/
@import (inline) "highlight-js/color-brewer-alt.css";

// font-awesome settings
@fa-font-path: "../fonts";

// == RWD settings
@grid-float-breakpoint: 1036px;


// == aside
// aside settings
// article max width
.content-container {
  max-width: 940px;
}
aside {
  padding: 1em;
  font-size: smaller;
}



// == bootstrap custom styles
@font-size-base: 17px;
@font-family-sans-serif: "Quattrocento Sans", Computer Modern, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
@navbar-height: 69px;

// custom navbar settings
@custom-nav-font-size: 18px;

/* responsive logo size */
#logo {
  background-position: left center;
  float: left;
  margin-top: 5px;
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: 62px;
  background-image: url('/theme/images/logo.svg');
}

#logo-container {
  font-size: @custom-nav-font-size;
  margin-left: 1em;
}

#logo-container > a {
  margin-left: 0.2em;
}
 
@media all and (min-width: 970px) {
  .site-name {
    font-size: 32px;
    color: @gray-dark;
  }
  #logo-container {
    font-size: @custom-nav-font-size;
  }
}

@media all and (max-width: 969px) and (min-width: 460px) {
  .site-name {
    font-size: 28px;
    color: @gray-dark;
  }
  #logo {
    width: 54px;
    background-size: 54px;
  }
}


@media all and (min-width: 1000px) {
  aside {
    color: #666;
    margin-top: -2em;
    font-size: smaller;
    position: absolute;
    width: 180px;
    margin-left: 110%;
    padding: 0px;
    display: inline-block;
    float: right;
  } 
  .aside-first {
    text-indent: -6px;
  }
}

@media all and (max-width: 461px) and (min-width: 300px) {
  #logo-container {
    margin-left: 0.8em;
  }
  .site-name {
    font-size: 22px;
    color: @gray-dark;
  }
  #logo {
    width: 50px;
    background-size: 50px;
  }
  aside {
    padding: 1em;
    font-size: 0.8em;
  }

}


.site-logo {
  padding: 0;
}
.fa-nav { 
}

// headers settings
@header-font-size: 32px; // sets h1, others are fractions of this
h1,h2,h3,h4,h5,h6,.h1,.h2,.h2-summary,.latest-blog {
  font-size: @header-font-size;
  //font-style: italic;
  font-family: "Alegreya Sans", @font-family-sans-serif;
  font-weight: 300;
  //color: #c7254e;
}
h2,.h2,.h2-summary,.latest-blog {
  font-size: floor((@header-font-size * 0.8));
}
h3 {
  font-size: ceil((@header-font-size * 0.6));
}
h4 {
  font-size: @font-size-base;
}
h5 {
  font-size: @font-size-base;
}
h6 {
  font-size: @font-size-base;
}

.latest {
  color: #666;
  font-style: italic;
  font-size: 0.7em;
  padding-left: 1em;
}

// footer
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  padding-top: 1em;
  margin-top: 3em;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #eee;
}

// highlight.js and custom code styles
@pre-bg: #fff;
@pre-border-color: #fff;
@code-bg: #fff;
@code-font-size: floor((@font-size-base * 0.8));
pre code {
  border-left: 5px solid #eee; // match block quote's border
}
pre {
  margin: 0px;
  padding: 12px 0 12px 0;
}
code.hljs {
  padding: 0 12px 0 24px; // matches bootstrap's blockquote
  margin: 0px;
  font-size: @code-font-size;
}
@code-color: #246798;
//@code-bg: #ededed;
@code-bg: rgba(234, 236, 239, 0.47);

// custom code settings for aside
aside pre code {
 border: 0px;
}
aside code.hljs {
  padding: 0 2px 0 2px; 
  margin: 0px;
  font-size: floor((@code-font-size * 0.8));
}

// references
.references {
  font-size: smaller;
}

.featured-image-container {
  float: right;
  max-width: 280px;
  height: auto;
}

.page-header {
  padding-left: 0px;
  margin-top: -16px;
  padding-bottom: 0px;
}

.index-container {
}

#bio {
  max-width: 300px;
  /* min-height: 480px; */
  padding-left: 2em;
  padding-right: 2em;
  font-size: 0.8em;
  margin-top: 2.2em;
  margin-right: 3em;
  display: block;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgb(225, 225, 225);
  text-align: justify;
}

#bio img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#bio-image {
  margin-bottom: 1.4em;
}

.article-preview {
  margin-bottom: 6em;
}


figure > img {
  margin-left: auto;
  margin-right: auto;
  /* same as .img-responsive in bootstrap 3 below */
  display: block;
  height: auto;
  max-width: 100%;
}

figure > figcaption {
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  margin-top: 0.6em;
  margin-bottom: 2em;
  font-style: italic;
  font-size: 0.8em;
}

.article-summary > aside {
  /* don't dislay asides in front page */
  display: none;
}

/* index list of articles */

.archive {
}

.archive > h2 {
  margin-left: -0.5em;
  margin-bottom: 6px;
}

.archive > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.archive li > time {
  margin-left: -1em;
  text-indent: -1.5em;
  margin-right: 6px;
  color: #555;
  font-size: 0.7em;
}

.archive-link, .archive-time {
}

.archive-time {
  float: left;
  margin-left: -1em;
  display: block;
  width: 90px;
  margin-top: 3px;
  color: #555;
  font-size: 0.7em;
}

.blog-archive {
  margin-left: 5em;
}

.blog-archive-header {
  margin-top: 40px;
  margin-left: -0.8em;
}

.tiny-blockquote {
  font-size: 0.9em;
}

.cv-left-col {
  font-variant: small-caps;
}

.cv-right-col {
  font-size: 0.8em;
}

h2 > a, h2 > a:visited {
  color: #ccc;
  margin-left: -0.7em; 
  text-decoration: none !important;
}

h2 > a:hover, h2 > a:active {
  text-decoration: none !important;
  color: #888;
}

.article-preview {
  margin-top: 1em;
}

.article-preview > h1 {
  font-size: 1.3em;
}

.article-summary > h2 {
  font-size: 1em;
}

.h2-summary {
  
}

.latest-blog {
  font-size: 0.9em;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 500;
  color: #777;  
  padding-right: 1em;
}
