{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="col-md-8 page-header">
    <h1>Blog Archive</h1>
  </div>

  <div class="col-md-7 archive">
    <ul>
      {% for article in articles if article.category.name != "notes" %}
      <li>
        <div>
          <time class="archive-time" datetime="{{ article.date.isoformat() }}" pubdate>{{ article.date.strftime('%b') }} {{ article.date.day }}, {{ article.date.year }}</time>
          <span class="archive-link"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags}}">{{ article.title }}</a></span>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div><!-- col-md-4 -->

</div><!-- container -->

{% endblock %}
