{% extends "base.html" %}
{% block content %}
<div class="container-fluid index-container">
  <div class="rows">
    <div id="bio" class="col-md-3">
      <div id="bio-image">
        <img src="images/me.png" width="220" alt="photo of Vince Buffalo"/>
      </div>
      <p>I'm Vince Buffalo, a PhD Student in Graham Coop's Lab.</p>
    </div>

    <div class="col-md-8">
      {% for article in articles %}
      {% if loop.index == 1 %}
      <article>
        <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
        <div class="article-summary">
          {% if  article.featured_image %}
          <img src="{{ article.featured_image }}" class="featured-image-container" alt="thumbnail of {{ article.title }}'s featured image"/>
          {% endif %}
          {{ article.summary }}
          <a class="btn" href="{{ SITEURL }}/{{ article.url }}">continue reading→</a>
        </div>
      </article>
      {% if loop.length > 1 %}
      <div style="margin-top: 200px;" >
        <h2>Recent Blog Posts</h2>
        <ul class="archive">
          {% endif %}
          {% elif loop.index < 7 %}
          <li>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags}}">
              <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time> {{ article.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- <p><a href="{{ SITEURL }}/archives.html">Blog Archive</a></p> -->
      </div><!-- margin-top spacer -->

    </div><!-- col-md-6 -->

  </div>
</div>
{% endblock content %}


