/* 

The CSS stylesheet for my site. Part of this is based on Mike
Bostock's. */

html {
  min-width: 1040px;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em auto 4em auto;
  position: relative;
  font-size: 0.8em;
}

#leftbox {
    width: 240px;
    padding-left: 100px;
    float: left;
    font-size: 13px;
}

#content {
    width: 800px;
    padding-left: 320px;
    padding-top: 16px;
    line-height: 1.5em;
}

#post {
    width: 780px;
    padding-left: 100px;
    line-height: 1.5em;
    font-size: 1.2em;
}

#post > img {
    margin-left: auto;
    margin-rigth: auto;
}

#content > ul {
    list-style-type: none;
}

h1 h2 h3 {
    color: #111;
    line-height: 1.8em;
}

header > h1 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    text-align: center;
    font-weight:normal;
}


#main-link {
    padding-left: 2em;
    padding-bottom; 0;
    font-size: 20px;
}

a {
    color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

#top-header {
    margin-top: 10px;
    text-align: center;
    color: #333333;
}

#top-header a {
    color: #333333;
    text-decoration: none;
}

footer {
    font-size: 10px;
    clear: both;
    text-align: center;
}

.left-title {
    font-weight: 900;
    color: red;
}

.maruku-equation {
    text-align: center;
    margin-bottom: 1em;
}

pre, code, textarea {
  font-family: "Menlo", monospace;
}

pre {
    padding-left: 5px;
    border-left: 2px solid #DDD;
}

blockquote {
    font-style: italic;
    color: #444;
}