<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/stylesheets/print.css"  type="text/css" media="print" />
    <link rel="stylesheet" href="/stylesheets/site.css"  type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/pygments.css"  type="text/css" media="screen" />
    <!--[if lt IE 8]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title>{{ page.title }}</title>
  </head>
  <body>
    
    
    <!--start-container-->
    <div class="container">
      
      <!--start-header-->
      <div class="span-24">
        <h1 id="top-header"><a href="/" title="main page">a digital notebook</a></h1>
      </div>
      <!--end-header-->
      
      <!--start-left-->
      <div class="span-7 last" id="left-list">
        <p>
          <img src="images/me.jpg" width="200" alt="A photo of me at the
        top of a climb at Phantom Spires, South Lake Tahoe."/>
        </p>
        <p>
          <span class="left-title">About</span><br/>

          I'm Vince Buffalo, a Bioinformatics Programmer working for
          the <a href="http://bioinformatics.ucdavis.edu"
          title="Bioinformatics Core website">Bioinformatics Core</a>
          at the <a href="http://genomics.ucdavis.edu" title="UC Davis
          Genome Center website">UC Davis Genome Center</a>.
        </p>
        
        <p>
          I'm an atheist, and my nerdy passions include biology,
          bioinformatics, statistics, and statistical computing. I
          also enjoy fly fishing, rock climbing, cooking, and gypsy
          jazz guitar.
        </p>
        <p>
          <span class="left-title">Contact</span><br/>
          
          <a href="mailto:vsbuffaloAAAAA@gmail.com">vsbuffaloAAAAA@gmail.com</a>
          (sans poly-A tail)<br/>
          <a href="http://twitter.com/vsbuffalo">twitter.com/vsbuffalo</a><br/>
          <a href="http://github.com/vsbuffalo">github.com/vsbuffalo</a><br/>
          
        </p>
        <p>
          <span class="left-title">Source</span><br/>

          This blog is different; my thoughts evolve and I may update
          posts. Follow the changes
          on <a href="http://github.com/vsbuffalo/vsbuffalo.github.com">github/vsbuffalo/vsbuffalo.github.com</a>
          if you like.
          
        </p>
      </div>
      <!--end-left-->
          
      <!--start-mid-->
      <div class="span-16 colborder" id="content">
        <ul class="posts">
          {% for post in site.posts %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>


      </div>
      <!--end-mid-->
      
      <!--start-footer-->
      <div class="span-24" id="footer">
        <p>Copyright (c) Vince Buffalo, 2012</p>
        <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Please notify me if you use my content.
        </p>
      </div>
      <!--end-footer-->
      
    </div>
    <!--end-container-->

  </body>
</html>
