<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <style>
        @import url("stylesheets/site.css")
      </style>
      
      <title>{{ page.title }}</title>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-548051-4']);
        _gaq.push(['_setDomainName', 'vincebuffalo.org']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
      </script>
    </head>

    <body>
      <header>
        <h1>a digital notebook</h1>
        </header>

      <div id="leftbox">
        <p id="leftbox-image">
          <img src="images/me.jpg" width="200" alt="A photo of me at the
        top of a climb at Phantom Spires, South Lake Tahoe."/>
        </p>
        <p>
          <span class="left-title">About</span><br/>

          I'm Vince Buffalo, an aspiring evolutionary geneticist 
          in <a href="http://www.gcbias.org">Graham Coop's lab</a>. I was a bioinformatician for a while, and wrote an <a href="http://oreilly.com">O'Reilly</a> book about it called <a href="http://shop.oreilly.com/product/0636920030157.do">Bioinformatics Data Skills</a>. I write code and use statistics to work with genomics data and understand evolution.
        </p>
        
        <p>
          My nerdy passions include plant biology, bioinformatics,
          statistics, and statistical computing. I also enjoy fly
          fishing, rock climbing, cooking, and gypsy jazz guitar.
        </p>
        <p>
          <span class="left-title">Contact</span><br/>
          
          <a href="mailto:vsbuffaloAAAAA@gmail.com">vsbuffaloAAAAA@gmail.com</a>
          <br/>
          (sans poly-A tail)
          <br/><br/>
          <a href="http://twitter.com/vsbuffalo">twitter.com/vsbuffalo</a>
          <br/>
          <a href="http://github.com/vsbuffalo">github.com/vsbuffalo</a><br/>
          
        </p>
        <p>
          <a href="http://feeds.feedburner.com/vincebuffalo" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/vincebuffalo" rel="alternate" type="application/rss+xml">Feed</a>
        </p>
      </div>


      <div id="content">
        <ul class="posts">
          {% for post in site.posts %}
          {% if post.tags[0] != "hide" %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>

      <footer>
        <p>Copyright (c) Vince Buffalo, 2012</p>
        <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Please notify me if you use my content or ideas.
        </p>
      </footer>
      <!--end-footer-->
      
    </div>
    <!--end-container-->

  </body>
</html>
