<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <style>
        @import url("/stylesheets/site.css")
      </style>
      <style>
        @import url("/stylesheets/pygments.css")
      </style>
      
      <title>{{ page.title }}</title>
      <script type="text/javascript">
      
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-29374237-1']);
        _gaq.push(['_trackPageview']);
      
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      
      </script>
    </head>
    <body>

      <div id="main-link">
        <a href="/" title="main page">a digital notebook</a>
      </div>

      <!--post-->
      <div id="post">
        {{ content }}
      </div>
      <!--end-post-->
      
      <footer>
        <p>Copyright (c) Vince Buffalo, 2012</p>
        <p>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Please notify me if you use my content or ideas.</p>
      </footer>
    </body>
    </html>
