<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/stylesheets/print.css"  type="text/css" media="print" />
    <link rel="stylesheet" href="/stylesheets/site.css"  type="text/css" media="screen" />
    <!--[if lt IE 8]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title>{{ page.title }}</title>
  </head>
  <body>
    
    
    <!--start-container-->
    <div class="container">
      
      <!--start-header-->
      <div class="span-24">
        <h1 id="top-header"><a href="/" title="main page">a digital notebook</a></h1>
      </div>
      <!--end-header-->

      <!--start-mid-->
      <div class="span-16 colborder" id="content">
        {{ content }}
      </div>
      <!--end-mid-->
      
      <!--start-footer-->
      <div class="span-24" id="footer">
        <p>Copyright (c) Vince Buffalo, 2012</p>
      </div>
      <!--end-footer-->
      
    </div>
    <!--end-container-->

  </body>
</html>
