<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen,projection" />
    <link rel="stylesheet" href="/stylesheets/print.css"  type="text/css" media="print" />
    <link rel="stylesheet" href="/stylesheets/site.css"  type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/pygments.css"  type="text/css" media="screen" />
    <!--[if lt IE 8]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <title>{{ page.title }}</title>
    <script type="text/javascript">
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29374237-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    </script>
  </head>
  <body>
    
    
    <!--start-container-->
    <div class="container">
      
      <!--start-header-->
      <div class="span-24">
        <h1 id="top-header"><a href="/" title="main page">a digital notebook</a></h1>
      </div>
      <!--end-header-->

      <!--start-mid-->
      <div class="span-16 colborder" id="content">
        {{ content }}
      </div>
      <!--end-mid-->
      
      <!--start-footer-->
      <div class="span-24" id="footer">
        <p>Copyright (c) Vince Buffalo, 2012</p>
        <p>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Please notify me if you use my content.</p>
      </div>
      <!--end-footer-->
      
    </div>
    <!--end-container-->

  </body>
</html>
